.as-main{
    position: relative;
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
}
.as-main:hover{
    transition: .3s all ease;
    border:none;
    background-color: #f0f0f0;
}
.as-main img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    width: 25px;
    height: 25px;
}

/*=== Accessibility ===*/
.as-container{
    display: none;
    position: fixed;
    top:0;
    right: 0;
    width: 520px;
    height: 100vh;
    background-color: rgb(61, 214, 242);
    z-index: 1000;
}
.as-heading{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.as-heading-title h3{
    margin: 0;
    line-height: 1.2;
    font-size: 18px;
}
.as-heading-cross{
    position: relative;
    width: 30px;
    height: 30px;
    padding: 10px;
    border: 1px solid #222;
    border-radius: 50%;
    cursor: pointer;
}
.as-heading-cross img{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate( -50%, -50% );
    width: 15px;
    height: 15px;
    margin: 0;
}
.as-wrapper{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    overflow: scroll;
    border-radius: 20px 20px 0 0;
    background-color: #e9e9e9;
    width: 100%;
    height: 90vh;
    padding: 25px;
}
.as-single-item{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 140px;
    height: 114px;
    background-color: #fff;
    border-radius: 10px; 
}
.as-single-item img{
    width: 20px;
    height: 20px;
}
.as-single-item p{
    color:red;
    margin: 0;
    color: #222;
    font-weight: bold;
}